<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый товар</title>
</head>
<body>

<form method="post" th:action="@{/products/new}" th:object="${product}">
    <p>
        <label for="name">Название:</label><br>
        <input type="text" size="40" id="name" th:field="*{name}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        Name error
    </div>
    <br>
    <label for="cost">Цена:</label><br>
    <input type="text" size="40" id="cost" th:field="*{cost}"/>
    <div style="color:red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">
        Cost error
    </div>
    </p>
    <p>
        <input type="submit" value="Добавить">
    </p>
</form>
</body>
</html>